* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Golos Text', sans-serif;
    text-decoration: none;
    outline: none;
}

.header {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    height: 673px;
}

/* DropDoune */

.header nav li .DropDoune {
    display: none;
}

.header nav li .DropDoune a{
    margin-top: 10px;
}

.DropDoune {
    font-weight: bold;
}

.header nav .li1:hover .DropDoune {
    display: inline-block;
    width: 150px;
    height: 200px;
    background-color: blue;
    position: absolute;
    border-radius: 10px;
    top: 75px;
    left: 533px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #fff;
    animation: dropdoune 0.5s linear;
}

.header nav .li2:hover .DropDoune {
    display: inline-block;
    width: 150px;
    height: 200px;
    background-color: blue;
    position: absolute;
    border-radius: 10px;
    top: 75px;
    left: 643px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #fff;
    animation: dropdoune 0.5s linear;
    z-index: 2;
}

.header nav .li3:hover .DropDoune {
    display: inline-block;
    width: 150px;
    height: 200px;
    background-color: blue;
    position: absolute;
    border-radius: 10px;
    top: 75px;
    left: 753px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #fff;
    animation: dropdoune 0.5s linear;
    z-index: 2;
}

.header nav .li4:hover .DropDoune {
    display: inline-block;
    width: 150px;
    height: 200px;
    background-color: blue;
    position: absolute;
    border-radius: 10px;
    top: 75px;
    left: 887px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #fff;
    animation: dropdoune 0.5s linear;
    z-index: 2;
}

.header nav .li5:hover .DropDoune {
    display: inline-block;
    width: 150px;
    height: 200px;
    background-color: blue;
    position: absolute;
    border-radius: 10px;
    top: 75px;
    left: 1020px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #fff;
    animation: dropdoune 0.5s linear;
    z-index: 2;
}

.header nav .li6:hover .DropDoune {
    display: inline-block;
    width: 150px;
    height: 200px;
    background-color: blue;
    position: absolute;
    border-radius: 10px;
    top: 75px;
    left: 1130px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #fff;
    animation: dropdoune 0.5s linear;
    z-index: 2;
}

/* NavBar */

.header nav {
    width: 100%;
    display: flex;
    list-style: none;
    overflow: hidden;
    justify-content: space-around;
    font-size: 20px;
}

.header nav li {
    padding-top: 30px;
}

.header nav .li6 {
    margin-right: 100px;
}

.header nav .Logo {
    margin-right: 350px;
    margin-top: 20px;
    font-size: 15px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
}

.header nav .Logo h1 {
    font-weight: 1;
}

.header nav .Logo .h6-1 {
    font-weight: 1;
    margin-top: 3px;
    margin-left: 2px;
    opacity: 0.3;
}

.header nav .Logo .h6-2 {
    font-weight: 1;
    margin-top: 3px;
    margin-left: 2px;
    opacity: 0.3;
}

.linehover {
    width: 60px;
    height: 2px;
    background-color: blue;
    position: absolute;
    top: 60px;
    left: 576px;
    display: none;
}

.linehover2 {
    width: 60px;
    height: 2px;
    background-color: blue;
    position: absolute;
    top: 60px;
    left: 688px;
    display: none;
}

.linehover3 {
    width: 60px;
    height: 2px;
    background-color: blue;
    position: absolute;
    top: 60px;
    left: 798px;
    display: none;
}

.linehover4 {
    width: 60px;
    height: 2px;
    background-color: blue;
    position: absolute;
    top: 60px;
    left: 934px;
    display: none;
}

.linehover5 {
    width: 60px;
    height: 2px;
    background-color: blue;
    position: absolute;
    top: 60px;
    left: 1063px;
    display: none;
}

.linehover6 {
    width: 60px;
    height: 2px;
    background-color: blue;
    position: absolute;
    top: 60px;
    left: 1169px;
    display: none;
}

.header nav li:hover .a1 {
    color: blue;
    transition: 0.6s;
}

.li1:hover .linehover{
    display: block;
    animation: Hovers 0.5s linear;
}

.li2:hover .linehover2{
    display: block;
    animation: Hovers 0.5s linear;
}

.li3:hover .linehover3{
    display: block;
    animation: Hovers 0.5s linear;
}

.li4:hover .linehover4{
    display: block;
    animation: Hovers 0.5s linear;
}

.li5:hover .linehover5{
    display: block;
    animation: Hovers 0.5s linear;
}

.li6:hover .linehover6{
    display: block;
    animation: Hovers 0.5s linear;
}

/* NavBar End */

/* Header */

.Header-Panel {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 130px;
}

.Header-Panel .Header-Text {
    margin-right: 100px;
    margin-bottom: 200px;
}

.Header-Panel .Header-Text .header-h3 {
    color: #4d4aff;
    font-size: 15px;
    margin-bottom: 20px;
}

.Header-Panel .Header-Text .header-h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.Header-Panel .Header-Text .header-comment {
    opacity: 0.4;
    font-size: 15px;
    font-weight: 1;
}

.Header-Panel .Header-Images .header-img {
    height: 435px;
}

.Header-Panel .Header-Images {
    position: relative;
    bottom: 50px;
}


/* Header End */


/* Main */

.Main .GetPremium {
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 30px;
}

.Main .GetPremium .Panel-1 {
    width: 350px;
    height: 120px;
    background-color: #006eff;
    border-radius: 10px;
    cursor: pointer;
}

.Main .GetPremium .Panel-1:hover {
    background-color: red;
    transition: 0.5s;
    box-shadow: 0px 0px 10px 6px brown;
}

.Main .GetPremium .Panel-1:hover h5{
    color: #fff;
    transition: 1s;
}

.Main .GetPremium .Panel-2 {
    width: 350px;
    height: 120px;
    background-color: #006eff;
    border-radius: 10px;
    cursor: pointer;
}

.Main .GetPremium .Panel-2:hover {
    background-color: red;
    transition: 0.5s;
    box-shadow: 0px 0px 10px 6px brown;
}

.Main .GetPremium .Panel-2:hover h5{
    color: #fff;
    transition: 1s;
}

.Main .GetPremium .Panel-3 {
    width: 350px;
    height: 120px;
    background-color: #006eff;
    border-radius: 10px;
    cursor: pointer;
}

.Main .GetPremium .Panel-3:hover {
    background-color: red;
    transition: 0.5s;
    box-shadow: 0px 0px 10px 6px brown;
}

.Main .GetPremium .Panel-3:hover h5{
    color: #fff;
    transition: 1s;
}

.Main .GetPremium .Panel-1 .circle {
    width: 55px;
    height: 55px;
    background-color: darkblue;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.Main .GetPremium .Panel-1 .price-premium {
    font-size: 50px;
    position: absolute;
    top: 48px;
    margin-left: 130px;
    color: darkblue;
    font-weight:bolder;
}

.Main .GetPremium .Panel-1 .text-premium {
    font-size: 20px;
    position: absolute;
    top: 15px;
    margin-left: 130px;
    font-weight:bolder;
}

.Main .GetPremium .Panel-2 .circle {
    width: 55px;
    height: 55px;
    background-color: darkblue;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.Main .GetPremium .Panel-2 .price-premium {
    font-size: 50px;
    position: absolute;
    top: 48px;
    margin-left: 130px;
    color: darkblue;
    font-weight:bolder;
}

.Main .GetPremium .Panel-2 .text-premium {
    font-size: 20px;
    position: absolute;
    top: 15px;
    margin-left: 130px;
    font-weight:bolder;
}

.Main .GetPremium .Panel-3 .circle {
    width: 55px;
    height: 55px;
    background-color: darkblue;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

.Main .GetPremium .Panel-3 .price-premium {
    font-size: 50px;
    position: absolute;
    top: 48px;
    margin-left: 130px;
    color: darkblue;
    font-weight:bolder;
}

.Main .GetPremium .Panel-3 .text-premium {
    font-size: 20px;
    position: absolute;
    top: 15px;
    margin-left: 130px;
    font-weight:bolder;
}


/* Main End */

/* Buy Phon */

.Phones {
    display: flex;
    flex-direction: column;
}

.Phones .Samsung {
    display: flex;
    justify-content: space-around;
}

.Phones .Samsung .S23-ultra {
    width: 280px;
    height: 395px;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    position: relative;
}

.Phones .Samsung .S23-ultra div {
    width: 100px;
    height: 20px;
    background-color: #006eff;
    position: absolute;
    font-size: 16px;
    left: 0px;
    text-align: center;
    font-size: 14px;
}

.Phones .Samsung .S23-ultra .Phone{
    width: 230px;
    height: 190px;
    margin-top: 80px;
    position: absolute;
}

.Phones .Samsung .S23-ultra span{
    color: rgb(42, 42, 42);
    position: absolute;
    top: 290px;
    font-size: 20px;
    font-weight: bold;
}

.Phones .Samsung .S23-ultra .price{
    color: rgb(42, 42, 42);
    position: absolute;
    top: 320px;
    font-size: 20px;
    font-weight: bold;
}

.Phones .Samsung .S23-ultra button{
    width: 80px;
    height: 30px;
    background-color: #006eff;
    color: white;
    font-size: 20px;
    border: none;
    position: absolute;
    top: 360px;
    left: 190px;
    cursor: pointer;
}

.Phones .Samsung .S23-ultra .fa-heart{
    font-size: 25px;
    position: absolute;
    color: #006eff;
    left: 245px;
}





.Phones .Samsung  .A50{
    width: 280px;
    height: 395px;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    position: relative;
}

.Phones .Samsung .A50 div {
    width: 100px;
    height: 20px;
    background-color: #006eff;
    position: absolute;
    font-size: 16px;
    left: 0px;
    text-align: center;
    font-size: 14px;
}

.Phones .Samsung .A50 .Phone{
    width: 230px;
    height: 230px;
    margin-top: 60px;
    position: absolute;
}

.Phones .Samsung .A50 span{
    color: rgb(42, 42, 42);
    position: absolute;
    top: 290px;
    font-size: 20px;
    font-weight: bold;
}

.Phones .Samsung .A50 .price{
    color: rgb(42, 42, 42);
    position: absolute;
    top: 320px;
    font-size: 20px;
    font-weight: bold;
}

.Phones .Samsung .A50 button{
    width: 80px;
    height: 30px;
    background-color: #006eff;
    color: white;
    font-size: 20px;
    border: none;
    position: absolute;
    top: 360px;
    left: 190px;
    cursor: pointer;
}

.Phones .Samsung .A50 .fa-heart{
    font-size: 25px;
    position: absolute;
    color: #006eff;
    left: 245px;
}





.Phones .Samsung  .A23{
    width: 280px;
    height: 395px;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    position: relative;
}

.Phones .Samsung .A23 div {
    width: 100px;
    height: 20px;
    background-color: #006eff;
    position: absolute;
    font-size: 16px;
    left: 0px;
    text-align: center;
    font-size: 14px;
}

.Phones .Samsung .A23 .Phone{
    width: 200px;
    height: 200px;
    margin-top: 80px;
    position: absolute;
}

.Phones .Samsung .A23 span{
    color: rgb(42, 42, 42);
    position: absolute;
    top: 290px;
    font-size: 20px;
    font-weight: bold;
}

.Phones .Samsung .A23 .price{
    color: rgb(42, 42, 42);
    position: absolute;
    top: 320px;
    font-size: 20px;
    font-weight: bold;
}

.Phones .Samsung .A23 button{
    width: 80px;
    height: 30px;
    background-color: #006eff;
    color: white;
    font-size: 20px;
    border: none;
    position: absolute;
    top: 360px;
    left: 190px;
    cursor: pointer;
}

.Phones .Samsung .A23 .fa-heart{
    font-size: 25px;
    position: absolute;
    color: #006eff;
    left: 245px;
}






.Phones .Samsung  .A13{
    width: 280px;
    height: 395px;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    position: relative;
}

.Phones .Samsung .A13 div {
    width: 100px;
    height: 20px;
    background-color: #006eff;
    position: absolute;
    font-size: 16px;
    left: 0px;
    text-align: center;
    font-size: 14px;
}

.Phones .Samsung .A13 .Phone{
    width: 230px;
    height: 260px;
    margin-top: 50px;
    position: absolute;
}

.Phones .Samsung .A13 span{
    color: rgb(42, 42, 42);
    position: absolute;
    top: 290px;
    font-size: 20px;
    font-weight: bold;
}

.Phones .Samsung .A13 .price{
    color: rgb(42, 42, 42);
    position: absolute;
    top: 320px;
    font-size: 20px;
    font-weight: bold;
}

.Phones .Samsung .A13 button{
    width: 80px;
    height: 30px;
    background-color: #006eff;
    color: white;
    font-size: 20px;
    border: none;
    position: absolute;
    top: 360px;
    left: 190px;
    cursor: pointer;
}

.Phones .Samsung .A13 .fa-heart{
    font-size: 25px;
    position: absolute;
    color: #006eff;
    left: 245px;
}





/* ----Xiaomi---- */





.Phones .Xiaomi {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.Phones .Xiaomi .X12{
    width: 280px;
    height: 395px;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    position: relative;
}

.Phones .Xiaomi .X12 div {
    width: 100px;
    height: 20px;
    background-color: #006eff;
    position: absolute;
    font-size: 16px;
    left: 0px;
    text-align: center;
    font-size: 14px;
}

.Phones .Xiaomi .X12 .Phone{
    width: 230px;
    height: 245px;
    margin-top: 50px;
    position: absolute;
}

.Phones .Xiaomi .X12 span{
    color: rgb(42, 42, 42);
    position: absolute;
    top: 290px;
    font-size: 20px;
    font-weight: bold;
}

.Phones .Xiaomi .X12 .price{
    color: rgb(42, 42, 42);
    position: absolute;
    top: 320px;
    font-size: 20px;
    font-weight: bold;
}

.Phones .Xiaomi .X12 button{
    width: 80px;
    height: 30px;
    background-color: #006eff;
    color: white;
    font-size: 20px;
    border: none;
    position: absolute;
    top: 360px;
    left: 190px;
    cursor: pointer;
}

.Phones .Xiaomi .X12 .fa-heart{
    font-size: 25px;
    position: absolute;
    color: #006eff;
    left: 245px;
}






.Phones .Xiaomi .X-Poco-F4{
    width: 280px;
    height: 395px;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    position: relative;
}

.Phones .Xiaomi .X-Poco-F4 div {
    width: 100px;
    height: 20px;
    background-color: #006eff;
    position: absolute;
    font-size: 16px;
    left: 0px;
    text-align: center;
    font-size: 14px;
}

.Phones .Xiaomi .X-Poco-F4 .Phone{
    width: 230px;
    height: 245px;
    margin-top: 50px;
    position: absolute;
}

.Phones .Xiaomi .X-Poco-F4 span{
    color: rgb(42, 42, 42);
    position: absolute;
    top: 290px;
    font-size: 20px;
    font-weight: bold;
}

.Phones .Xiaomi .X-Poco-F4 .price{
    color: rgb(42, 42, 42);
    position: absolute;
    top: 320px;
    font-size: 20px;
    font-weight: bold;
}

.Phones .Xiaomi .X-Poco-F4 button{
    width: 80px;
    height: 30px;
    background-color: #006eff;
    color: white;
    font-size: 20px;
    border: none;
    position: absolute;
    top: 360px;
    left: 190px;
    cursor: pointer;
}

.Phones .Xiaomi .X-Poco-F4 .fa-heart{
    font-size: 25px;
    position: absolute;
    color: #006eff;
    left: 245px;
}






.Phones .Xiaomi .X-R-N-11Pro {
    width: 280px;
    height: 395px;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    position: relative;
}

.Phones .Xiaomi .X-R-N-11Pro div {
    width: 100px;
    height: 20px;
    background-color: #006eff;
    position: absolute;
    font-size: 16px;
    left: 0px;
    text-align: center;
    font-size: 14px;
}

.Phones .Xiaomi .X-R-N-11Pro .Phone{
    width: 230px;
    height: 245px;
    margin-top: 50px;
    position: absolute;
}

.Phones .Xiaomi .X-R-N-11Pro span{
    color: rgb(42, 42, 42);
    position: absolute;
    top: 290px;
    font-size: 20px;
    font-weight: bold;
}

.Phones .Xiaomi .X-R-N-11Pro .price{
    color: rgb(42, 42, 42);
    position: absolute;
    top: 320px;
    font-size: 20px;
    font-weight: bold;
}

.Phones .Xiaomi .X-R-N-11Pro button{
    width: 80px;
    height: 30px;
    background-color: #006eff;
    color: white;
    font-size: 20px;
    border: none;
    position: absolute;
    top: 360px;
    left: 190px;
    cursor: pointer;
}

.Phones .Xiaomi .X-R-N-11Pro .fa-heart{
    font-size: 25px;
    position: absolute;
    color: #006eff;
    left: 245px;
}





.Phones .Xiaomi .X-Redmi-10 {
    width: 280px;
    height: 395px;
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
    position: relative;
}

.Phones .Xiaomi .X-Redmi-10 div {
    width: 100px;
    height: 20px;
    background-color: #006eff;
    position: absolute;
    font-size: 16px;
    left: 0px;
    text-align: center;
    font-size: 14px;
}

.Phones .Xiaomi .X-Redmi-10 .Phone{
    width: 230px;
    height: 245px;
    margin-top: 50px;
    position: absolute;
}

.Phones .Xiaomi .X-Redmi-10 span{
    color: rgb(42, 42, 42);
    position: absolute;
    top: 290px;
    font-size: 20px;
    font-weight: bold;
}

.Phones .Xiaomi .X-Redmi-10 .price{
    color: rgb(42, 42, 42);
    position: absolute;
    top: 320px;
    font-size: 20px;
    font-weight: bold;
}

.Phones .Xiaomi .X-Redmi-10 button{
    width: 80px;
    height: 30px;
    background-color: #006eff;
    color: white;
    font-size: 20px;
    border: none;
    position: absolute;
    top: 360px;
    left: 190px;
    cursor: pointer;
}

.Phones .Xiaomi .X-Redmi-10 .fa-heart{
    font-size: 25px;
    position: absolute;
    color: #006eff;
    left: 245px;
}

/* Buy Phon End */


/* Footer */


footer {
    display: flex;
    justify-content: space-around;
    background-color: rgb(30, 30, 30);
    width: 100%;
    height: 200px;
    margin-top: 50px;
}

footer .Foot1 {
    display: flex;
    margin-top: 50px;
}

footer .Foot1 .fa-phone{
    font-size: 35px;
    margin: 10px;
}

footer .Foot1 .num1{
    margin-top: 7px;
    margin-left: -120px;
    text-decoration: underline;
}

footer .Foot1 .num2{
    margin-top: 10px;
    margin-left: -96px;
    text-decoration: underline;
}


footer .Foot2 {
    display: flex;
    margin-top: 50px;
}

footer .Foot2 h1 {
    font-size: 20px;
    font-weight: lighter;
}


footer .Foot3 {
    display: flex;
    margin-top: 50px;
}

footer .Foot3 .fa-business-time {
    font-size: 35px;
    margin: 10px;
}

footer .Foot3 .Work-Time {
    margin-top: 7px;
    margin-left: -35px;
}



/* Hovers Phone */


.Phones .Samsung .S23-ultra .Phone:hover{
    transition: 1s;
    transform: scale(1.1,1.1);
}


.Phones .Samsung .A50 .Phone:hover{
    transition: 1s;
    transform: scale(1.1,1.1);
}


.Phones .Samsung .A23 .Phone:hover{
    transition: 1s;
    transform: scale(1.1,1.1);
}


.Phones .Samsung .A13 .Phone:hover{
    transition: 1s;
    transform: scale(1.1,1.1);
}


/* ---- Xiaomi Hovers ---- */


.Phones .Xiaomi .X12 .Phone:hover{
    transition: 1s;
    transform: scale(1.1,1.1);
}

.Phones .Xiaomi .X-Poco-F4 .Phone:hover{
    transition: 1s;
    transform: scale(1.1,1.1);
}

.Phones .Xiaomi .X-R-N-11Pro .Phone:hover{
    transition: 1s;
    transform: scale(1.1,1.1);
}

.Phones .Xiaomi .X-Redmi-10 .Phone:hover{
    transition: 1s;
    transform: scale(1.1,1.1);
}




/* Hoevrs Phone End */

/* Keyframes */

@keyframes Hovers {
    0% {opacity: 0; top: 70px;}
    50% {opacity: 0.5; top: 65px;}
    100% {opacity: 1; top: 60px}
}

@keyframes dropdoune {
    0% {opacity: 0; top: 100px;}
    50% {opacity: 0.5; top: 85px;}
    100% {opacity: 1; top: 75px;}
}

/* Keyframes End */

